
.DS_Store
.ipynb_checkpoints/*.ipynb
examples/.ipynb_checkpoints/*.ipynb
whatiscircuit/.ipynb_checkpoints/*.ipynb
providers/.ipynb_checkpoints/*.ipynb
simulators/.ipynb_checkpoints/*.ipynb
quant-info/.ipynb_checkpoints/random_unitary-checkpoint.ipynb
compilers/.ipynb_checkpoints/transpile-checkpoint.ipynb
quantum_circuits/.ipynb_checkpoints/state_orep-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
quant-info/.ipynb_checkpoints/Operators-checkpoint.ipynb
quant-info/.ipynb_checkpoints/Weekmeasurement-checkpoint.ipynb
operators/.ipynb_checkpoints/Operators-checkpoint.ipynb
operators/.ipynb_checkpoints/random_unitary-checkpoint.ipynb
operators/.ipynb_checkpoints/Weekmeasurement-checkpoint.ipynb
operators/.ipynb_checkpoints/QiskitOrder-checkpoint.ipynb
live_demos/.ipynb_checkpoints/algorithm_globals-checkpoint.py
live_demos/.ipynb_checkpoints/algorithm_result-checkpoint.py
live_demos/.ipynb_checkpoints/CHSH_demo-checkpoint.ipynb
live_demos/.ipynb_checkpoints/CHSH_helpers-checkpoint.py
live_demos/.ipynb_checkpoints/optimizer-checkpoint.py
live_demos/.ipynb_checkpoints/spsa-checkpoint.py
live_demos/.ipynb_checkpoints/VQE_correctly-checkpoint.ipynb
live_demos/.ipynb_checkpoints/GoldenRation-checkpoint.ipynb
live_demos/__pycache__/CHSH_helpers.cpython-311.pyc
*.pyc
live_demos/.ipynb_checkpoints/GoldenRatio-checkpoint.ipynb
