
.DS_Store
.ipynb_checkpoints/*.ipynb
examples/.ipynb_checkpoints/*.ipynb
whatiscircuit/.ipynb_checkpoints/*.ipynb
providers/.ipynb_checkpoints/*.ipynb
simulators/.ipynb_checkpoints/*.ipynb
quant-info/.ipynb_checkpoints/random_unitary-checkpoint.ipynb
compilers/.ipynb_checkpoints/transpile-checkpoint.ipynb
quantum_circuits/.ipynb_checkpoints/state_orep-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
quant-info/.ipynb_checkpoints/Operators-checkpoint.ipynb
quant-info/.ipynb_checkpoints/Weekmeasurement-checkpoint.ipynb
operators/.ipynb_checkpoints/Operators-checkpoint.ipynb
operators/.ipynb_checkpoints/random_unitary-checkpoint.ipynb
operators/.ipynb_checkpoints/Weekmeasurement-checkpoint.ipynb
operators/.ipynb_checkpoints/QiskitOrder-checkpoint.ipynb
live_demos/.ipynb_checkpoints/algorithm_globals-checkpoint.py
live_demos/.ipynb_checkpoints/algorithm_result-checkpoint.py
live_demos/.ipynb_checkpoints/CHSH_demo-checkpoint.ipynb
live_demos/.ipynb_checkpoints/CHSH_helpers-checkpoint.py
live_demos/.ipynb_checkpoints/optimizer-checkpoint.py
live_demos/.ipynb_checkpoints/spsa-checkpoint.py
live_demos/.ipynb_checkpoints/VQE_correctly-checkpoint.ipynb
live_demos/.ipynb_checkpoints/GoldenRation-checkpoint.ipynb
live_demos/__pycache__/CHSH_helpers.cpython-311.pyc
*.pyc
live_demos/.ipynb_checkpoints/GoldenRatio-checkpoint.ipynb
live_demos/optimization__demos/optimization/.ipynb_checkpoints/__init__-checkpoint.py
live_demos/optimization__demos/optimization/.ipynb_checkpoints/exceptions-checkpoint.py
live_demos/optimization__demos/optimization/translators/.ipynb_checkpoints/prettyprint-checkpoint.py
live_demos/optimization__demos/optimization/passes/.ipynb_checkpoints/__init__-checkpoint.py
live_demos/optimization__demos/optimization/passes/.ipynb_checkpoints/quadratic_program_to_qubo-checkpoint.py
live_demos/optimization__demos/optimization/.ipynb_checkpoints/version-checkpoint.py
live_demos/optimization__demos/optimization/.ipynb_checkpoints/spsa-checkpoint.py
live_demos/optimization__demos/optimization/.ipynb_checkpoints/VERSION-checkpoint.txt
live_demos/optimization__demos/optimization/passes/.ipynb_checkpoints/qubo_unroller-checkpoint.py
live_demos/optimization__demos/optimization/translators/.ipynb_checkpoints/ising-checkpoint.py
live_demos/optimization__demos/optimization/.ipynb_checkpoints/py-checkpoint.typed
live_demos/optimization__demos/.ipynb_checkpoints/basic_optimization_workflow-checkpoint.ipynb
live_demos/optimization__demos/optimization/.ipynb_checkpoints/fulqrum-checkpoint.py
live_demos/optimization__demos/optimization/passes/.ipynb_checkpoints/validation-checkpoint.py
live_demos/optimization__demos/optimization/problems/.ipynb_checkpoints/constraint-checkpoint.py
live_demos/optimization__demos/optimization/problems/.ipynb_checkpoints/quadratic_program-checkpoint.py
live_demos/optimization__demos/optimization/problems/.ipynb_checkpoints/variable-checkpoint.py
live_demos/optimization__demos/optimization/translators/.ipynb_checkpoints/docplex_mp-checkpoint.py
live_demos/optimization__demos/.ipynb_checkpoints/knapsack_workflow-checkpoint.ipynb
live_demos/optimization__demos/optimization/translators/.ipynb_checkpoints/__init__-checkpoint.py
live_demos/optimization/workflows/.ipynb_checkpoints/qubo-checkpoint.py
live_demos/.ipynb_checkpoints/helpers-checkpoint.py
live_demos/.ipynb_checkpoints/CHSH-checkpoint.ipynb
live_demos/.ipynb_checkpoints/CHSH-checkpoint.ipynb
live_demos/.ipynb_checkpoints/basic_optimization_workflow-checkpoint.ipynb
live_demos/.ipynb_checkpoints/knapsack_workflow-checkpoint.ipynb
live_demos/optimization/passes/.ipynb_checkpoints/quadratic_program_to_ising-checkpoint.py
live_demos/optimization/passes/.ipynb_checkpoints/quadratic_program_to_qubo-checkpoint.py
live_demos/optimization/passes/.ipynb_checkpoints/qubo_unroller-checkpoint.py
live_demos/optimization/passes/.ipynb_checkpoints/validation-checkpoint.py
live_demos/optimization/problems/.ipynb_checkpoints/quadratic_program-checkpoint.py
live_demos/optimization/problems/.ipynb_checkpoints/variable-checkpoint.py
live_demos/optimization/translators/.ipynb_checkpoints/__init__-checkpoint.py
live_demos/optimization/translators/.ipynb_checkpoints/docplex_mp-checkpoint.py
live_demos/optimization/translators/.ipynb_checkpoints/prettyprint-checkpoint.py
live_demos/optimization/workflows/.ipynb_checkpoints/__init__-checkpoint.py
live_demos/optimization/.ipynb_checkpoints/__init__-checkpoint.py
live_demos/optimization/.ipynb_checkpoints/exceptions-checkpoint.py
live_demos/optimization/.ipynb_checkpoints/version-checkpoint.py
live_demos/optimization/.ipynb_checkpoints/fulqrum-checkpoint.py
live_demos/optimization/passes/.ipynb_checkpoints/__init__-checkpoint.py
live_demos/optimization/translators/.ipynb_checkpoints/docplex_mp_to_qp-checkpoint.py
live_demos/optimization/quadratic_program/.ipynb_checkpoints/quadratic_program-checkpoint.py
live_demos/optimization/quadratic_program/.ipynb_checkpoints/__init__-checkpoint.py
live_demos/optimization/problems/.ipynb_checkpoints/substitute_variables-checkpoint.py
live_demos/.ipynb_checkpoints/maxcut_workflow-checkpoint.ipynb
live_demos/optimization/translators/.ipynb_checkpoints/qubo_to_hamiltonian-checkpoint.py
live_demos/optimization/translators/.ipynb_checkpoints/qubo_to_ising-checkpoint.py
live_demos/.ipynb_checkpoints/fulqrum-checkpoint.py
live_demos/quadratic_program/.ipynb_checkpoints/__init__-checkpoint.py
live_demos/quadratic_program/.ipynb_checkpoints/constraint-checkpoint.py
live_demos/quadratic_program/.ipynb_checkpoints/exceptions-checkpoint.py
live_demos/quadratic_program/.ipynb_checkpoints/variable-checkpoint.py
live_demos/quadratic_program/.ipynb_checkpoints/quadratic_program_element-checkpoint.py
live_demos/quadratic_program/.ipynb_checkpoints/quadratic_program-checkpoint.py
live_demos/quadratic_program/.ipynb_checkpoints/quadratic_objective-checkpoint.py
live_demos/quadratic_program/.ipynb_checkpoints/quadratic_expression-checkpoint.py
live_demos/quadratic_program/.ipynb_checkpoints/quadratic_constraint-checkpoint.py
live_demos/quadratic_program/.ipynb_checkpoints/prettyprint-checkpoint.py
live_demos/quadratic_program/.ipynb_checkpoints/linear_expression-checkpoint.py
live_demos/quadratic_program/.ipynb_checkpoints/linear_constraint-checkpoint.py
live_demos/quadratic_program/passes/.ipynb_checkpoints/__init__-checkpoint.py
live_demos/quadratic_program/passes/.ipynb_checkpoints/eval_solution-checkpoint.py
live_demos/quadratic_program/passes/.ipynb_checkpoints/flip_problem_sense-checkpoint.py
live_demos/quadratic_program/passes/.ipynb_checkpoints/inequality_to_equality-checkpoint.py
live_demos/quadratic_program/passes/.ipynb_checkpoints/integer_to_binary-checkpoint.py
live_demos/quadratic_program/passes/.ipynb_checkpoints/linear_equality_to_penalty-checkpoint.py
live_demos/quadratic_program/passes/.ipynb_checkpoints/linear_inequality_to_penalty-checkpoint.py
live_demos/quadratic_program/passes/.ipynb_checkpoints/quadratic_program_converter-checkpoint.py
live_demos/quadratic_program/passes/.ipynb_checkpoints/quadratic_program_to_qubo-checkpoint.py
live_demos/quadratic_program/passes/.ipynb_checkpoints/qubo_unroller-checkpoint.py
live_demos/quadratic_program/passes/.ipynb_checkpoints/validation-checkpoint.py
live_demos/workflows/.ipynb_checkpoints/qubo-checkpoint.py
live_demos/workflows/.ipynb_checkpoints/__init__-checkpoint.py
live_demos/translators/.ipynb_checkpoints/__init__-checkpoint.py
live_demos/translators/.ipynb_checkpoints/docplex_mp_to_qp-checkpoint.py
live_demos/translators/.ipynb_checkpoints/prettyprint-checkpoint.py
live_demos/translators/.ipynb_checkpoints/qubo_to_hamiltonian-checkpoint.py
live_demos/translators/.ipynb_checkpoints/qubo_to_ising-checkpoint.py
live_demos/translators/.ipynb_checkpoints/qubo_to_sparse_pauli_op-checkpoint.py
